      <article class="featured-videos">
        <h3>Featured Videos</h3>
      </article>
      <!--Featured Videos-->
      <article class="featured jumbotron">
        <div>
          <div><!--
            <iframe width="92%" height="auto" src="https://www.youtube.com/embed/kwVv8E75Znw" frameborder="0" allowfullscreen></iframe>
            -->
            <wallop-slider
                  data-images="images"
                  data-animation="rotate"
                  data-current-item-index="currentSliderIndex"></wallop-slider>
          </div>
        </div>
      </article>
      <!--More Videos-->
      <article class="featured-videos more-videos">
        <h3>More Videos!</h3>
        <div class="front-video">
          <h3>Clinton Joins The Fight Against The Heroin Epidemic</h3>
          <div>
            <iframe width="92%" height="auto" src="https://www.youtube.com/embed/5GXWLBGypKU" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="front-video">
          <h3>Lawmaker Has No Clue What LGBTQ Stands For...And Doesn't Care</h3>
          <div>
            <iframe width="92%" height="auto" src="https://www.youtube.com/embed/BJHMuciqZhU" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="front-video">
          <h3>Man Claims Pot Arrest Violates His Freedom Of Religion</h3>
          <div>
            <iframe width="92%" height="auto" src="https://www.youtube.com/embed/fp9lSHTepLA" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <!--Extras-->
        <div class="tyt-app-ad">
          <h3>Download the TYT App</h3>
          <div class="btn-group btn-group-lg">
          <button type="button" class="btn btn-default btn-lg app-icon">
            <a href="#"><i class="icon-android"></i></a>
          </button>
          <button type="buttton" class="btn btn-default btn-lg app-icon">
            <a href="#"><i class="icon-apple"></i></a>
          </button>
          </div>
        </div>
      </article>
      <article>
        <!--<youtube width="92%" height="auto" videoid="KzdinvzfAiY"></youtube>-->
      </article>