<div class="register-form">
				<form>
					<div class="form-group">
						<label for="emailInput">Email Address</label>
						<input type="email" class="form-control" placeholder="Please Enter Email">
					</div>
					<div class="form-group">
						<label for="passwordInput">Password</label>
						<input type="password" class="form-control" placeholder="Please Enter Password">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
					<a href="register.html"><button type="button" class="btn btn-primary"><b>Register</b></button></a>
				</form>		

			</div>